<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Users</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/Library/font-awesome-4.5.0/css/font-awesome.min.css}">
    <script  th:src="@{/resources/assets/jqueryUI/jquery-3.1.0.min.js}"></script>

</head>
<body>

    <!--<div th:if="${variable != null}" th:text="Yes, variable exists!">I wonder, if variable exists...</div>-->
    <table>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>

            <td>
                <a th:href="@{/edit/{id}(id=${user.id})}" type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                </a>
                <a th:href="@{/delete/{id}(id=${user.id})}" type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-trash" aria-hidden="true"></i> Trash
                </a>
            </td>
        </tr>
    </table>

    <button id="backToMain">Back to Main</button>
    <script  th:src="@{/resources/assets/js/function.js}"></script>

</body>
</html>