/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$main-color: #263856;
$main-font-family: 'Roboto', sans-serif;
$main-font: 17px;
$hf-color: #e8e8e8;
$button-color: #38af38;

@mixin placeholder ($color, $font-weight){
    color: $color;
    font-family: $main-font-family;
    font-weight: $font-weight;
    font-size: 15px;
}

@mixin button {
    text-align: left;
    background-color: $button-color;
    color: #fff;
    font-weight: 600;
    padding: 8px 20px 7px 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 95px;
    cursor: pointer;
}

@mixin img-icon {
    height: 50px;
    padding: 12px;
}

@mixin p {
    text-align: left;
    width: 175px;
    font-family: inherit;
    font-size: 15px;
    vertical-align: bottom;
    margin-bottom: 12px;
    color: $main-color;
}

body {
    margin: 0 auto;
    font-family: $main-font-family;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#nav-clicked {
    display: none;
    background-color: $main-color;
    border-top: 1px solid #fff;
    padding-top: 20px;
    color: #fff;
    text-align: center;


    #nav-search-box {
        display: inline-block;
        border: 2px solid #fff;
        background-color: #263856;
        width: 90%;

        i.fa.fa-search {
            cursor: pointer;
            padding: 7px 10px 10px 10px;
            float: left;
        }

        input {
            vertical-align: middle;
            padding: 6px;
            border: none;
            font-size: 15px;
            color: #fff;
            background-color: #263856;
            width: 80%;
        }

        input::-webkit-input-placeholder { @include placeholder(#fff, 100); }
        input::-moz-placeholder { @include placeholder(#fff, 100); }
        input:-ms-input-placeholder { @include placeholder(#fff, 100); }
        input:-moz-placeholder { @include placeholder(#fff, 100); }

        input:focus {
            outline: none !important;
        }
    }

    #nav-link {
        padding: 20px;

        a {
            padding: 0px 8% 0px 8%;
            letter-spacing: 2px;
        }

        a:hover {
            border-bottom: 1px solid #fff;
        }
    }
}

#header-head-con {
    background-color: $main-color;
    color: #fff;
    font-size: $main-font;
    padding: 10px;
    text-align: center;

    #header-head {
        margin: 0 auto;
        width: 80%;


        #header-logo {
            display: inline-block;
            vertical-align: middle;

            img {
                width: 100px;
                padding: 5px;
            }
        }

        #link {
            display: inline-block;
            width: 55%;

            a {
                margin: 19px;
                letter-spacing: 2px;
            }

            a:hover {
                border-bottom: 1px solid #fff;
            }
        }

        #search-box {
            display: inline-block;
            border: 2px solid #fff;
            background-color: #263856;
            width: 20%;

            i.fa.fa-search {
                cursor: pointer;
                padding: 7px 10px 10px 10px;
                float: left;
            }

            input {
                vertical-align: middle;
                padding: 6px;
                border: none;
                font-size: 15px;
                color: #fff;
                background-color: #263856;
                width: 60%;
            }

            input::-webkit-input-placeholder { @include placeholder(#fff, 100); }
            input::-moz-placeholder { @include placeholder(#fff, 100); }
            input:-ms-input-placeholder { @include placeholder(#fff, 100); }
            input:-moz-placeholder { @include placeholder(#fff, 100); }

            input:focus {
                outline: none !important;
            }
        }

        #header-nav {
            display: none;
            padding: 10px 2%;
            border-left: 1px solid;
            float: right;
            cursor: pointer;
            margin-top: 3px;

            .fa {
                width: 16px;
            }

            span {
                font-weight: 100;
                padding-left: 5px;
            }
        }
    }
}

#header-body {
    text-align: center;
    line-height: 0px;

    #bg {
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        max-height: 500px;
    }

    #hb-phone-button-text {
        line-height: 90%;
        color: #263856;
        position: absolute;
        top: calc(100% - 82%);
        width: 100%;

        #hb-button-text {
            display: inline-block;
            position: absolute;

            p {
                text-align: left;
                line-height: 1.3em;
                letter-spacing: .9px;
                margin: 0px;
            }

            #p1{
                font-size: 3vw;
                width: 65%;
            }

            #p2 {
                font-size: 2.5vw;
                font-weight: 100;
                width: 51%;
            }

            #button {
                @include button();
            }
        }

        #phone {
            width: 30%;
            min-width: 200px;
            padding-left: 38%;
        }
    }
}


#header-footer-con {
    background-color: $hf-color;
    text-align: center;

    #header-footer {
        width: 80%;
        margin: 0 auto;

        #hf-wifi {
            width: 32%;
            display: inline-block;
            vertical-align: middle;
            padding: 5px 0px 5px 0px;

            #wifi {
                display: inline-flex;
            }
        }

        #hf-connect {
            @extend #hf-wifi;

            #connect {
                @extend #wifi;
            }
        }

        #hf-comment {
            @extend #hf-wifi;

            #comment {
                @extend #wifi;
            }
        }

        p {
            @include p();
            display: inline-block;
        }

        img {
            @include img-icon();
        }
    }
}


#main-con {
    color: #263856;
    text-align: center;
    padding-bottom: 2%;

    #top-con {
        padding-top: 40px;

        #top-con-phone {
            width: 180px;
        }

        #top-con-button-text {
            display: inline-block;
            vertical-align: top;
            width: 450px;
            padding-left: 15px;

            p {
                text-align: left;
                margin: 0px;
                letter-spacing: 1px;
            }

            #top-con-p1{
                font-size: 23px;
                padding: 10px 0px 10px 0px;
            }

            #top-con-p2 {
                font-size: 16px;
            }

            #top-con-button {
                @include button();
                margin-top: 15px;
            }
        }
    }

    #bottom-con {
        padding-top: 40px;

        #bc-left {
            display: inline-block;
            width: 360px;
            padding-bottom: 20px;

            p {
                font-size: 23px;
                margin: 0px;
                text-align: left;
            }

            #bottom-con-phone {
                vertical-align: top;
                width: 90px;
                padding-top: 10px;
            }

            #icon-con {
                width: 255px;
                display: inline-block;
                margin-left: 10px;

                #hf-wifi2 {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;

                    #wifi2 {
                        float: left;
                    }

                    img {
                        @include img-icon();
                        padding: 10px 10px 0px 0px;
                    }

                    p  {
                        @include p();
                        margin: 20px 0px 0px 0px;
                        background-color: $hf-color;
                        border-radius: 20px 0px 0px 20px;
                        width: 95%;

                    }
                }

                #hf-connect2 {
                    @extend #hf-wifi2;

                    #connect2 {
                        @extend #wifi2;
                    }

                    img {
                        @include img-icon();
                        padding: 10px 10px 0px 0px;
                    }

                    p {
                        @include p();
                        margin: 20px 0px 0px 0px;
                        background-color: $hf-color;
                        border-radius: 20px 0px 0px 20px;
                        width: 95%;
                    }
                }

                #hf-comment2 {
                    @extend #hf-wifi2;

                    #comment2 {
                        @extend #wifi2;
                    }

                    img {
                        @include img-icon();
                        padding: 10px 10px 0px 0px;
                    }

                    p {
                        @include p();
                        margin: 20px 0px 0px 0px;
                        background-color: $hf-color;
                        border-radius: 20px 0px 0px 20px;
                        width: 95%;
                    }
                }
            }
        }

        #bc-right {
            display: inline-block;
            width: 300px;
            background-color: $main-color;
            border-radius: 8px;
            margin-left: 10px;

            #tab {
                margin-bottom: 15px;
                background-color: #f9b046;
                width: 100%;
                border-radius: 10px;

                #tab-left {
                    display: inline-block;
                    padding: 10px 19px 10px 19px;
                    width: 111px;
                    text-align: center;
                    color: #fff;
                    font-weight: 200;
                    margin-left: -2px;
                    margin-right: 2px;
                    border-radius: 8px 8px 0px 0px;
                    background-color: $main-color;
                    cursor: pointer;
                }
                #tab-right {
                    @extend #tab-left;
                    background-color: #f9b046;
                    margin-left: -4px;
                    margin-right: -2px;
                }
            }

            #bc-right-input {

                input {
                    letter-spacing: 1px;
                    width: 226px;
                    padding: 7px;
                    margin-bottom: 15px;
                    border-radius: 8px;
                    font-size: 15px;
                    color: #263856;
                    border: none;
                }

                input::-webkit-input-placeholder { @include placeholder($main-color,200); letter-spacing: 1px;}
                input::-moz-placeholder { @include placeholder($main-color,200); letter-spacing: 1px; }
                input:-ms-input-placeholder { @include placeholder($main-color,200); letter-spacing: 1px; }
                input:-moz-placeholder { @include placeholder($main-color,200); letter-spacing: 1px; }

                input:focus {
                    outline: none !important;
                }
            }

            #bc-right-button {
                @include button();
                margin: 0px 0px 15px 135px;
                border: none;
                text-align: center;
                padding: 7px 8px;
                width: 126px;
                margin: 0px 0px 15px 120px;
                font-size: 16px;
                outline: 0;
            }
        }
    }
}

#errorDisplay {
    z-index: 100;
    height: 40px;
    opacity: 1;
    border-radius: 5px;
    font-size: 18px;
    position: inherit;
    top: 10px;
    left: 10px;
    width: 200px;
    text-align: center;
    display: none;
    color: #fff;
    background-color: #ff2c31;
    padding: 15px;
    box-shadow: 0px 2px 20px #636363;
}


// @media Queries
@media only screen and (max-width:295px)  {
    #nav-clicked #nav-link a {
        padding: 0px 2% 0px 2% !important;
    }
}

@media only screen and (max-width:320px)  {

    #nav-clicked #nav-search-box input {
        width: 72%;
    }

    #main-con #bottom-con #bc-left #icon-con #hf-wifi2 p, #main-con #bottom-con #bc-left #icon-con #hf-connect2 p, #main-con #bottom-con #bc-left #icon-con #hf-comment2 p {
        width: 87%;
    }

    #main-con #bottom-con #bc-left #icon-con #hf-wifi2 img, #main-con #bottom-con #bc-left #icon-con #hf-connect2 img, #main-con #bottom-con #bc-left #icon-con #hf-comment2 img {
        padding: 10px 4px 0px 0px;
    }

    #main-con #bottom-con #bc-right #bc-right-button {
        margin: 0px 0px 15px 70px;
    }

    #main-con #bottom-con #bc-right #tab #tab-left, #main-con #bottom-con #bc-right #tab #tab-right {
        padding: 10px 7px;
        width: 100px;
    }

    #main-con #bottom-con #bc-right #bc-right-input input {
        width: 180px;
    }

    #main-con #bottom-con #bc-right {
        width: 230px;
    }

    #main-con #bottom-con #bc-left {
        width: 100%;
    }

    #main-con #bottom-con #bc-left #phone {
        display: none;
    }

    #main-con #top-con #top-con-button-text {
        vertical-align: top;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:377px)  {
    #nav-clicked #nav-link a {
        padding: 0px 5% 0px 5%;
    }
}


@media only screen and (max-width:481px)  {
    #main-con #top-con #top-con-button-text {
        vertical-align: top;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:641px)  {

    #header-footer-con #header-footer p {
        width: 75%;
        padding-left: 2%;
        transition: .3s;
    }

    #header-footer-con #header-footer img {
        padding: 5% 10% 5% 15%;
        transition: .3s;
    }

    #hf-wifi, #hf-connect, #hf-comment {
        width: 100% !important;
        display: block !important;
        transition: .3s;
    }
}

@media only screen and (max-width:696px){
    #main-con #bottom-con #bc-left p {
        text-align: center;
        transition: .3s;
    }

    #header-head-con #header-head #link, #header-head-con #header-head #search-box, #header-body #hb-phone-button-text #phone, #header-body #bg {
        display: none;
    }

    #header-body #hb-phone-button-text, #header-body #hb-phone-button-text #hb-button-text {
        top: initial !important;
        position: initial;
        padding-left: 10%;
    }

    #header-body #hb-phone-button-text {
        padding: 10% 0px;
    }

    #header-head-con {
        text-align: inherit;
    }

    #header-head-con #header-head #header-nav {
        display: block;
    }

    #header-body #hb-phone-button-text #hb-button-text #p1 {
        font-size: 25px;
        width: 90%;
    }

    #header-body #hb-phone-button-text #hb-button-text #p2 {
        font-size: 20px;
        font-weight: 100;
        width: 80%;
    }

}

@media only screen and (max-width:800px)  {
    #header-head-con #header-head #link {
        width: 50%;
        transition: .5s;
    }

    #header-head-con #header-head #link a {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (max-width:900px)  {
    #hf-wifi, #hf-connect, #hf-comment {
        width: 32%;
        transition: .3s;
    }

    #header-footer img {
        padding: 0px 0px 12px 0px;
        transition: .3s;
    }
}

@media only screen and (max-width:1100px){

    #header-head-con #header-head {
        width: 100%;
        transition: .5s;
    }

    #header-footer-con #header-footer {
        width: 100%;
        transition: .5s;
    }

    #header-body #hb-phone-button-text {
        top: 125px !important;
        transition: .2s;
    }
}

@media only screen and  (min-width: 1300px) {
    #header-head-con #header-head #search-box {
        width: 20%;
    }

    #header-head-con #header-head #search-box input {
        width: 70%;
    }

    #header-body #hb-phone-button-text {
        top: 170px;
        transition: .2s;
    }

}

@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
    #header-body #hb-phone-button-text {
        top: 170px;
        transition: .5s;
    }
}